body {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: auto;
}

td {
  border: 1px solid black;
  text-align: center;
}

button {
  margin: 30px auto;
}

th {
  cursor: pointer;
}

.no-validate {
  border-color: red;
}

.balance {
  width: 100%;
}