<main id="content" class="content">
    <table id="table">
        <thead>
        <tr>
            <th id="id-up">id</th>
            <th id="amount-up">Количество средств:</th>
            <th>Комментарий:</th>
        </tr>
        </thead>
        <tbody id="tbody" class="tbody">
        </tbody>
    </table>
    <button id="btn-prev" class="btn btn-prev">Prev</button>
    <button class="button-add">Добавить новую строчку</button>
    <button id="btn-next" class="btn-next">Next</button>
</main>