@import "../../node_modules/normalize.css/normalize.css";

body {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: auto;
}

td {
  border: 1px solid black;
  text-align: center;
}

button {
  margin: 30px auto;
  background-color: rgb(216, 216, 216);
  cursor: pointer;
}

th {
  cursor: pointer;
}

.balance {
  width: 100%;
}

input {
  width: 100%;
  padding: 3px 0;
  border: none;
}

.dataTable-info,
.dataTable-top{
  display: none;
}

.no-validate {
  background-color: red;
}
